<!-- FOTO E INFORMAÇOES PRINCIPAIS DO LOCAL -->
<div class="container-fluid">
    <div class="row nomeLocal h-100">
        <div class="col-12 col-md-6 imagemLocal text-center my-auto">
            <img src="https://i.imgur.com/Ue9bZoY.jpg" alt="">
        </div>

        <div class="col-12 col-md-6 nomeLocalLinks text-center my-auto">
            <!-- Titulo e rating -->
            <div class="row titulo h-100">
                <div class="col-8 text-center my-auto">
                    <h2>Paço dos Duques de Bragança</h2>
                </div>

                <div class="col-4 text-center my-auto">
                    <p><b>3.9</b></p>
                    <img src="assets\starW.png" alt="">
                </div>
            </div>

            <!-- Texto e links -->
            <div class="row h-100 justify-content-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque qui, quo officia rerum ipsum eum
                    excepturi iusto tempore suscipit. Numquam possimus ducimus eius asperiores corporis nemo rem facilis
                    placeat eum.</p>
                <div class="icons text-center">
                    <a href="#"><img class="icon-imagem" src="assets\visitado.png"></a>
                    <a href="#"><img class="icon-imagem" src="assets\favorito.png"></a>
                    <a href="#"><img class="icon-imagem" src="assets\audio.png"></a>
                    <a href="#"><img class="icon-imagem" src="assets\comentarios.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- IMAGENS E HISTORIA DO LOCAL -->
<div class="container-fluid">

    <div class="row infoLocal">
        <div class="col-8 col-md-4 text-center ">
            <h2>INFORMAÇÕES DO LOCAL</h2>
        </div>
        <div class="d-xs-none d-md-block col-md-8">
            <hr>
        </div>
    </div>

    <div class="row biLocal justify-content-around">

        <!-- Previsão do tempo -->
        <div class="col-8 col-md-3 text-center colBI">

            <div class="row justify-content-center">
                <div class="col-12">
                    <h6>Previsão do Tempo</h6>
                    <hr>
                </div>
                <div class="col-4 diaSemana">
                    <p>Domingo</p>
                    <img src="assets/clearsky.png" alt="">
                    <p>25ºC</p>
                </div>
                <div class="col-4 diaSemana">
                    <p>Segunda</p>
                    <img src="assets/fewclouds.png" alt="">
                    <p>23ºC</p>
                </div>
                <div class="col-4 diaSemana">
                    <p>Terça</p>
                    <img src="assets/fewclouds.png" alt="">
                    <p>23ºC</p>
                </div>

            </div>

        </div>

        <!-- Dados do local -->
        <div class="col-8 col-md-3 colBI">
            <h6>Dados do Local</h6>
            <hr>
            <ul>
                <li> <strong>Ano de construção:</strong> </li>
                <li> <strong>Estilo:</strong> </li>
                <li> <strong>Posição Geográfica:</strong> </li>
                <li> <strong>Proprietário:</strong> </li>
                <li> <strong>Outras Informações:</strong> </li>
            </ul>
        </div>

        <!-- Rating e distância -->
        <div class="col-8 col-md-3 colBI text-center">
            <div class="col-12">
                <img src="assets/4stars.png" alt="" id="rating">
            </div>

            <div class="col-12" id="distancia">
                <h3>A 2.8KM DE SI</h3>
            </div>
        </div>
    </div>
</div>


<!-- GALERIA DE FOTOS -->
<div class="container-fluid" id="galeria">
    <!-- TITULO DA GALERIA -->
    <div class="row infoLocal">
        <div class="d-sm-none d-md-block col-md-4">
            <hr>
        </div>
        <div class="col-12 col-md-4 text-center ">
            <h2>GALERIA</h2>
        </div>
        <div class="d-sm-none d-md-block col-md-4">
            <hr>
        </div>
    </div>

    <!-- FOTOS DA GALERIA -->
    <div class="row galeriaFotos">
        <div class="col-6 col-md-4">
            <img src="assets/blocker.png" alt="">
        </div>

        <div class="col-6 col-md-4">
            <img src="assets/paço_dos_duques_5.jpg" alt="" class="imagemPretoBranco">
        </div>

        <div class="col-6 col-md-4">
            <img src="assets/paço_dos_duques_1.jpg" alt="">
        </div>

        <div class="col-6 col-md-4">
            <img src="assets/paço_dos_duques_3.JPG" alt="" class="shadow-box-left">
        </div>

        <div class="col-6 col-md-4">
            <img src="assets/paço_dos_duques_2.JPG" alt="">
        </div>

        <div class="col-6 col-md-4">
            <img src="assets/paço_dos_duques_7.jpg" alt="" class="imagemPretoBranco">
        </div>

        <div class="col-12 col-md-4 text-center sabiasQue">
            <h4>Sabias que...</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit deleniti facilis laudantium ratione sint
                accusamus temporibus quia, officiis dolorum. Fugiat rerum sint porro provident sunt facere dolorem
                officia illum repellat?</p>
        </div>

        <div class=" d-none d-md-block col-md-4">
            <img src="assets/paço_dos_duques_6.jpg" alt="" class="shadow-box-right">
            <img src="assets/paço_dos_duques_4.jpg" alt="" class="imagemPretoBranco">
        </div>

        <div class=" d-none d-md-block col-md-4">
            <img src="assets/paço_dos_duques_8.jpg" alt="">
            <img src="assets/blocker2.png" alt="">
        </div>
    </div>

</div>

<!-- HISTORIA DO LOCAL -->
<div class="container-fluid">

    <div class="row justify-content-left" id="tituloHistoria">
        <div class="col-12 col-md-4 text-center ">
            <h2>ERA UMA VEZ...</h2>
        </div>

    </div>

    <div class="row historia">
        <div class="col-12 col-md-6 rightBorder">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis in, voluptatum atque suscipit id
                ipsum voluptatem, nobis deserunt accusantium maiores voluptatibus quidem? Ut ea, error sint quae
                distinctio quibusdam aliquam?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis in, voluptatum atque suscipit id
                ipsum voluptatem, nobis deserunt accusantium maiores voluptatibus quidem? Ut ea, error sint quae
                distinctio quibusdam aliquam?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis in, voluptatum atque suscipit id
                ipsum voluptatem, nobis deserunt accusantium maiores voluptatibus quidem? Ut ea, error sint quae
                distinctio quibusdam aliquam?</p>
        </div>
        <div class="col-12 col-md-6">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis in, voluptatum atque suscipit id
                ipsum voluptatem, nobis deserunt accusantium maiores voluptatibus quidem? Ut ea, error sint quae
                distinctio quibusdam aliquam?</p>
        </div>
    </div>
</div>




<!-- COMENTÁRIOS -->
<div class="container-fluid comentarios">
   






    <!-- NOVO COMENTARIO -->
    <div class="row align-items-end separadorComentarios sticky-top">
        <div class="col-12 text-center">
            <!-- 10 é o numero de elementos na class comentários, class.length? -->
            <p>Foram feitos 10 comentários a este local...</p>
        </div>
    </div>



    <div class="row caixaComentarios justify-content-center">
        <!-- DIV ONDE SE METE O NGFOR -->
        <div class="container-fluid comentariosAntigos">
            <div class="row">
                <div class="col-2 text-right">
                    <img src="http://s2.glbimg.com/7bVUw0hl6xoms3LcYosBmZzxhak=/620x465/s.glbimg.com/jo/g1/f/original/2016/11/29/img_3707.jpg" alt="">
                </div>
                <div class="col-10 text-left my-auto">
                    <p id="nomeUtilizador">Tone Biclas</p>
                    <p id="dataComentario">Dezembro 2020</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-2" id="textoComentario">
                    
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste veniam dolorum laborum tempora nostrum. Tempore molestiae voluptates architecto voluptatum commodi tempora harum ad illum dolore! Tempora, sit. Error, accusantium quibusdam?</p>
                </div>
            </div>
            <hr>
        </div>



        <form>
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="exampleFormControlTextarea1" id="labelComentario">Deixa um comentário ao local...</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="comentario"
                        [ngModelOptions]="{standalone: true}" required></textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-8 text-center">
                    <div class="rating">
                        <label>
                            <input type="radio" name="stars" value="1" [(ngModel)]="stars"
                                [ngModelOptions]="{standalone: true}" required />
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" [(ngModel)]="stars" [ngModelOptions]="{standalone: true}"
                                value="2" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" [(ngModel)]="stars" [ngModelOptions]="{standalone: true}"
                                value="3" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" [(ngModel)]="stars" [ngModelOptions]="{standalone: true}"
                                value="4" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" [(ngModel)]="stars" [ngModelOptions]="{standalone: true}"
                                value="5" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                    </div>
                </div>

                <div class="form-group col-4 text-right">
                    <button type="submit" class="btn btn-comentario"
                        [disabled]="(stars === untouched || stars === null) || (comentario === '' || comentario === untouched) ">Comentar</button>
                </div>
            </div>
        </form>
    </div>

    

</div>