/* Menu de fotos que expandem */
.container-fluid {
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.row {
    margin: 0px;
    padding: 0px;
}

.home-page {
    padding-bottom: 55px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.row-imagens {
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: white;
    padding-right: 11%;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

.col-imagens {
    position: absolute;
}

.row-imagens img {   
    height: 100%;
    width: 16%;
    object-fit: cover;
    margin-right: 2%;
}



#img1-overlay {
    -webkit-filter: grayscale(100%);filter: grayscale(100%);
    position: absolute;
    top: 0;
    left: 5%;
    z-index: 90;
    width: 16%;
    height: 100%;
    transition: 0.4s;
    box-shadow: 3px 2px 8px -1px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#img1-overlay:hover {
    -webkit-filter: none;
    width: 90%;
    transform-origin: left top;
}


#img2-overlay {
    -webkit-filter: grayscale(100%);filter: grayscale(100%);
    position: absolute;
    top: 0;
    left: 23%;
    z-index: 80;
    width: 16%;
    height: 100%;
    transition: 0.3s;
    box-shadow: 3px 2px 8px -1px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#img2-overlay:hover {
    -webkit-filter: none;
    width: 72%;
    transform-origin: left top;
}

#img3-overlay {
    -webkit-filter: grayscale(100%);filter: grayscale(100%);
    position: absolute;
    top: 0;
    left: 41%;
    z-index: 5;
    width: 16%;
    height: 100%;
    transition: 0.3s;
    box-shadow: 3px 2px 8px -1px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#img3-overlay:hover {
    -webkit-filter: none;
    transform-origin: left top;
    width: 54%;

}


#img4-overlay {
    -webkit-filter: grayscale(100%);filter: grayscale(100%);
    position: absolute;
    top: 0;
    left: 59%;
    z-index:4;
    width: 16%;
    height: 100%;
    transition: 0.3s;
    box-shadow: 3px 2px 8px -1px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#img4-overlay:hover {
    width: 36%;
    -webkit-filter: none;

}


#img5-overlay {
    -webkit-filter: grayscale(100%);filter: grayscale(100%);
    position: absolute;
    top: 0;
    left: 77%;
    width: 16%;
    z-index: 3;
    transition: 0.3s;
    box-shadow: 3px 2px 8px -1px rgba(0, 0, 0, 0.4);

}

#img5-overlay:hover {
    -webkit-filter: none;
}

.historify {
    letter-spacing: 1rem;
    position: absolute;
    top: 15vh;
    left: 3%;
    width: 97%;
    z-index: 100;
    background-color: white;
    color: #1D3F29;
    /* box-shadow: 1px 3px 5px rgb(0, 0, 0, 0.3), 0px -2px 1px rgb(0, 0, 0, 0.3); */
   
}

.historify h2 {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 2rem;
    /* text-shadow: 2px 2px 4px #000000; */

} 


/* ======================================================= Lado de Pesquisas ======================================================= */


.pesquisa {
    padding: 16vh 30px 4vh 0px;
}
.dropdown-toggle, .dropdown-menu, .dropdown-item {
    width: 100%;
    
}

.dropdown-toggle {
    padding: 10px 20px 10px 20px;
    font-size: 1.4rem;
    background-color: white;
    color:#1D3F29;
    font-weight: 600;
    border: none;
    border: 2px solid  #D88E04;
    border-radius: 5px;
    text-transform: uppercase;

}

.dropdown-menu {
    
    max-height: 30vh;
    overflow: auto;
    border: none;
    box-shadow: 3px 2px 8px -1px rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
}

.dropdown-item {
    padding-top: 10px;
    padding: 10px 25px 10px 25px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
}

.dropdown-item:hover {
    background: #D88E04;
    color: white;
}
.mapaWrapper {
    height: 60vh;
    padding-right: 30px;
}

.mapa {
    width: 100%;
    height: 40vh;
    background-color: #D88E04;
    margin-right: 15px;
    border-radius: 25px;
    align-content: flex-end;
}

/* width */
.dropdown-menu::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
  
/* Track */
.dropdown-menu::-webkit-scrollbar-track {
    background: white;
}
  
/* Handle */
.dropdown-menu::-webkit-scrollbar-thumb {
    background: rgba(29, 63, 41, 0.6);
    border-radius: 10px;

}
  
/* Handle on hover */
.dropdown-menu::-webkit-scrollbar-thumb:hover {
    background: rgba(29, 63, 41, 1);
}

/* ======================================================= Resultado Pesquisas ======================================================= */


.resultadoPesquisas h3 {
    padding: 5vh  0px;
    
}

.card {
    transition: 0.5s;

}

.card:hover {
    box-shadow: 3px 2px 8px -1px rgba(0, 0, 0, 0.4);
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card-header {
    text-transform: uppercase;
    background-color: rgba(216, 142, 4, 1);
    color: white;
}

#icon-sound {
    margin-left: auto;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background: url("https://i.imgur.com/Dl8Rzk8.png") no-repeat center;
    background-size: contain;
    transition: 0.3s;
}

#icon-sound:hover {
    background: url("https://i.imgur.com/bxifAz5.png") no-repeat center;
    background-size: contain;
    transition: 0.3s;
}

#icon-visited {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background: url("https://i.imgur.com/saGGPxu.png") no-repeat center;
    background-size: contain;
}

#icon-visited:hover {
    background: url("https://i.imgur.com/4IEAr0F.png") no-repeat center;
    background-size: contain;
    transition: 0.3s;
}

#icon-favorite {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background: url("https://i.imgur.com/x19Tjc1.png") no-repeat center;
    background-size: contain;
}

#icon-favorite:hover {
    background: url("https://i.imgur.com/EjELSm5.png") no-repeat center;
    background-size: contain;
    transition: 0.3s;
}

/* LIMITA O TEXTO A 3 LINHAS ATÉ ACRESCENTAR ETC */
#historia-local {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: 1.5rem;        /* fallback */
    max-height: 4.5rem;       /* fallback */
}


  @media (max-width: 1199px) {
      .fotos-hover {
          display: none!important;
      }

      .mapaWrapper {
          padding-left: 50px;
          padding-right: 50px;
      }

      .col-12 {
          padding: 0px;
          margin: 0px;
      }

      .pesquisa {
        padding: 4vh 50px 4vh 50px;
    }

    .historify-mobile h3 {
        letter-spacing: 1rem;
        padding-top: 4vh;
        padding-bottom: 4vh;
        font-size: 3rem;
        font-weight: 600;
        color: #1D3F29;
    }

  }

  @media (max-width: 991px) {
    .card:hover {
        box-shadow:none;
    }

    .card {
        border: 1px solid rgba(0, 0, 0, 0.125);
    }
  }

  @media (max-width: 576px) {
      .col-6 {
          margin: 0px;
          padding: 0px;
      }

    .mapaWrapper {
        padding-left: 0px;
        padding-right: 0px;
    }
    .pesquisa {
        padding-left: 0px;
        padding-right: 0px;
    }

    .dropdown-item {
        padding: 7px 25px 7px 25px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
        font-size: .8rem;
        overflow-x: hidden;
        max-width: 100%;
    }

    .dropdown-toggle {
        padding: 10px 10px 10px 10px;
        font-size: 0.6rem;
        background-color: white;
        color:#1D3F29;
        font-weight: 600;
        border: none;
        border: 1.5px solid  #D88E04;
        border-radius: 5px;
        text-transform: uppercase;
    }
    
    .dropdown-menu {
        max-height: 30vh;
        overflow-y: auto;
        overflow-x: hidden;
        border: none;
        box-shadow: 3px 2px 8px -1px rgba(0, 0, 0, 0.4);
        padding-bottom: 10px;
    }

    .historify-mobile h3 {
        letter-spacing: 1rem;
        padding-top: 4vh;
        padding-bottom: 4vh;
        font-size: 1.5rem;
        color: #1D3F29;
    }

    #concelho {
        width: 95%;
        margin-right: 5%;
    }

    #local {
        width: 95%;
        margin-right: 5%;
    }


  }

