<div class="container-fluid">
    <div class="row">
        <!-- Espaço para as imagens e os menus -->
        <div class="fotos-hover col-xl-6">
            <div class="row row-imagens">

                <div>
                    <img src="https://i.imgur.com/ccFsLxK.jpg" alt="barcelos" id="img1-overlay">
                </div>

                <div>
                    <img src="https://i.imgur.com/yIXxmjT.jpg" alt="braga" id="img2-overlay">
                </div>

                <div>
                    <img src="https://i.imgur.com/CLiGOJx.jpg" alt="porto" id="img3-overlay">
                </div>

                <div>
                    <img src="https://i.imgur.com/zgAo3fh.jpg" alt="sintra" id="img4-overlay">
                </div>

                <img src="https://i.imgur.com/KwdcIOE.jpg" alt="lisboa" id="img5-overlay">

                <div class="col-12 historify text-center">
                    <h2>HISTORIFY</h2>
                </div>
            </div>
        </div>

        <!-- Espaço para as informações do item seleccionado -->
        <div class="col-12 col-xl-6">

            <div class="row justify-content-around  pesquisa">
                <div class="col-6">
                        <div class="dropdown">
                                <button class="btn dropdown-toggle text-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Concelho
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                              </div>
                </div>
                <div class="col-6">
                        <div class="dropdown">
                                <button class="btn dropdown-toggle text-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Local
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                  
                                </div>
                              </div>
                </div>
            </div>

            <div class="row justify-content-center mapaWrapper">
                <div class="col-12 mapa my-auto">

                </div>
            </div>



        </div>



    </div>


</div>