<div class="container-fluid">

    <div class="row">


        <!-- Espaço para as imagens e os menus -->
        <div class="col-8">
            <div class="row row-imagens">
          

                    <div id="img1-overlay">
                        <a href="www.google.com" target="_blank"></a>
                    </div>

                    <div id="img2-overlay">
                            
                    </div>

                    <div id="img3-overlay">
                            
                    </div>

                    <div id="img4-overlay">
                            
                    </div>

                    <img src="https://i.imgur.com/8B4QAhl.jpg" alt="" id="img5">

                    <div class="col-12 historify text-center">
                        <h2>HISTORIFY</h2>

                    </div>
                    
                    


            </div>
       



        </div>

        <!-- Espaço para as informações do item seleccionado -->
        <div class="col-4">



        </div>



    </div>


</div>