<div class="container-fluid">
    <div class="row no-gutters justify-content-start align-items-center theTeam">
        <div class="col-12 col-lg-7 text-center historia ">
            <h2>HISTORIFY</h2>
            <p>Historify é uma aplicação que nasceu da necessidade de conhecimento dos nossos antepassados. Como
                chegamos aqui? Como eram as vidas dos que cá chegaram antes de nós?
                No nosso dia a dia frequentamos estes locais, mas pouco ou nada sabemos de quem já os visitou e dos
                acontecimentos que ocorreram ao longo dos anos. Muitos destes lugares foram tornados ruínas, lugares
                esquecidos, histórias perdidas de pessoas que, como nós, contribuíram para o desenvolvimento da História
                de Portugal.
            </p>
        </div>


    </div>

    <div class="row no-gutters" id="equipa-titulo">
        <div class="col-12 text-center">
            <h2>A EQUIPA</h2>
        </div>
    </div>

    <div class="row no-gutters justify-content-center equipa">
        <div class="col-8 col-lg-3 text-center">
            <div class="card" style="max-width: 95%;">
                <div class="card-img">
                    <img src="assets/joana.jpg" class="card-img-top" alt="...">
                    <div class=" row no-gutters overlay">
                        <div class="col-12 justify-content-around links-photo">
                            <a href="https://www.facebook.com/pisca.pereira"><img src="assets/facebook_icon.png"
                                    alt=""></a>
                            <a href="https://www.linkedin.com/in/joana-pereira-461a6a107/"><img
                                    src="assets/linkedin_icon.png" alt=""></a>
                            <a href="https://www.behance.net/piscapereira"><img
                                        src="assets/behance_icon.png" alt=""></a>
                            
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Joana Pereira</h5>
                    <p class="card-text">Desenvolvedor Front-End</p>
                    <span class="row" *ngIf="smartPhone">
                        <hr class="col-12">

                        <div class="col-xs-12 col-sm-7 mt-auto text-center ">
                            <p>joanafcpereira22@gmail.com</p>
                        </div>
                        <div class="col-xs-12 col-sm-5 text-xs-centerz text-sm-right">
                            <a href="https://www.facebook.com/pisca.pereira"><img src="assets/facebook_icon_green.png"
                                    alt=""></a>
                            <a href="https://www.linkedin.com/in/joana-pereira-461a6a107/"><img
                              src="assets/linkedin_icon_green.png" alt=""></a>
                            <a href="https://www.behance.net/piscapereira"><img
                                    src="assets/behance_icon_green.png" alt=""></a>

                        </div>

                    </span>
                </div>
            </div>

        </div>
        <div class="col-8 col-lg-3 text-center">
            <div class="card" style="max-width: 95%;">

                <div class="card-img">
                    <img src="assets/daniela.jpg" class="card-img-top" alt="...">
                    <div class=" row no-gutters overlay">
                        <div class="col-12 justify-content-around links-photo">
                            <a href="https://www.facebook.com/daniela.varzim.3"><img
                                src="assets/facebook_icon.png" alt=""></a>
                            <a href="www.linkedin.com/in/danielavarzim"><img src="assets/linkedin_icon.png"
                                    alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Daniela Varzim</h5>
                    <p class="card-text">Designer UI/UX</p>
                    <span class="row" *ngIf="smartPhone">
                        <hr class="col-12">

                        <div class="col-8 mt-auto text-center ">
                            <p>danielavarzim@gmail.com</p>
                        </div>
                        <div class="col-4 text-right">
                            <a href="https://www.facebook.com/daniela.varzim.3"><img
                              src="assets/facebook_icon_green.png" alt=""></a>
                            <a href="www.linkedin.com/in/danielavarzim"><img src="assets/linkedin_icon_green.png"
                                    alt=""></a>
                        </div>
                    </span>
                </div>

            </div>
        </div>


        <div class="col-8 col-lg-3 text-center">
            <div class="card" style="max-width: 95%;">
                <div class="card-img">
                    <img src="assets/guilherme.jpg" class="card-img-top" alt="...">
                    <div class=" row no-gutters overlay">
                        <div class="col-12 justify-content-around links-photo">
                            <a href="https://www.linkedin.com/in/guilhermejsousa/"><img
                                src="assets/linkedin_icon.png" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Guilherme Sousa</h5>
                    <p class="card-text">Desenvolvedor Back-End</p>
                    <span class="row" *ngIf="smartPhone">
                        <hr class="col-12">

                        <div class="col-8 mt-auto text-center ">
                            <p>guijmsousa@gmail.com</p>
                        </div>
                        <div class="col-4 text-right">
                            <a href="https://www.linkedin.com/in/guilhermejsousa/"><img
                                    src="assets/linkedin_icon_green.png" alt=""></a>
                        </div>
                    </span>
                </div>
            </div>

        </div>
        <div class="col-8 col-lg-3 text-center">
            <div class="card" style="max-width: 95%;">

                <div class="card-img">
                    <img src="assets/marta.jpg" class="card-img-top" alt="...">
                    <div class=" row no-gutters overlay"></div>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Alice Pereira</h5>
                    <p class="card-text">Especialista de Conteúdos</p>
                    <span class="row" *ngIf="smartPhone">
                            <hr class="col-12">
    
                            <div class="col-12 mt-auto text-center ">
                                <p>amartapf@gmail.com</p>
                            </div>
                        </span>
                </div>
            </div>

        </div>


    </div>

    <div class="row no-gutters justify-content-center funcionalidades">
        <div class="col-12 text-center">
            <h2>FUNCIONALIDADES</h2>
        </div>
        <div class="col-8 col-lg-4 text-center col-funcionalidades">
            <img src="https://i.imgur.com/EIPge2a.png" alt="">
            <h5>Versão Audio</h5>
            <p>Nem sempre é fácil ler letreiros, ou textos do telemóvel enquanto exploramos. Escolhe o local na app, clica em play, e disfruta enquanto ouves a história</p>

        </div>
        <div class="col-8 col-lg-4 text-center col-funcionalidades">
            <img src="https://i.imgur.com/ChJMflS.png" alt="">
            <h5>Página Pessoal</h5>
            <p>Regista as tuas visitas e os teus locais favoritos e revê a tua cronologia na secção do utilizador</p>

        </div>
        <div class="col-8 col-lg-4 text-center col-funcionalidades">
            <img src="https://i.imgur.com/xOKsYKD.png" alt="">
            <h5>Submissão de Locais</h5>
            <p>Dá a conhecer ao mundo os teus locais favoritos mas ainda desconhecidos. Submete o teu próprio local no site e partilha-o com toda a gente!!!</p>

        </div>


    </div>




</div>